name: ci

on: 
  - pull_request

permissions:
  id-token: write      # for setup-goproxy OIDC
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: github/setup-goproxy@v1.0.1
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.55.2
          args: --timeout=3m
