name: release
on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: 'Version to upload as; vX.X.X'

permissions:
  contents: write

jobs:
  setup-env:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.setup-version.outputs.version }}
    steps:
      - name: Setup Version
        id: setup-version
        run: |
          if [ ${{ github.ref_type  }} == "tag" ]; then
            echo "version=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          else
            echo "version=${{ inputs.version }}" >> $GITHUB_OUTPUT
          fi

  goreleaser:
    runs-on: ubuntu-latest
    needs: setup-env
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # fetch all history
          fetch-tags: true # and tags
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

